alembic==0.4.2
fabric==1.5.1
cssmin==0.1.4
Flask
Flask-SQLAlchemy
sqlalchemy==0.8
Flask-Testing==0.4
Flask-Wtf
psycopg2==2.4.5
setproctitle==1.1.6
requests
yuicompressor==2.4.7
PyYAML==3.10
webassets==dev
Flask-Assets
ipython
Flask-Bcrypt==0.5.2
